@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');


.App {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar {
  background-color: #65664f;
  color: white;
  display: flex;
  padding: 0 1rem;
  height: 3.5rem;
  justify-content: space-between;  /* This line ensures the left and right menus are pushed to the edges */
}

.nav-menu {
  list-style: none;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;  /* This ensures the .nav-menu takes up all available space */
}

.nav-left, .nav-right, .nav-center {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;  /* This aligns the items vertically in the middle */
}

.nav-menu a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;  /* This aligns the text vertically in the middle */
}

.header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: whitesmoke;
  position: relative;
}
.get-started-button {
  background-color: #101710; /* Green background */
  font-family: 'Merriweather', serif;
  color: white; /* White text */
  padding: 1rem 3rem; /* Some padding */
  margin: 0.4rem 0; /* A bit of margin */
  border: none; /* No border */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-size: 1.2em;
  border-radius: 1rem; /* Rounded corners */
}

/* On hover */
.get-started-button:hover {
  background-color: #45a049;
}

.subtext {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0rem;
}

.value-prop-section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.kpi {
  flex: 1;
  text-align: center;
}

.kpi h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.kpi p {
  font-size: 0.9rem;
}

.footer {
  background-color: #325343;
  color: #fff;
  padding: 1em;
}

.link {
  color: #61dafb;
}

.main-content {
  overflow: auto;
}

.section {
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  color: #fff;
  flex-direction: column;
  align-items: center;
    /* Other existing styles */
}

.section-title {
  color: darkolivegreen/* any specific styles you want for the title */
}

.section-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-title {
  cursor: pointer;
  padding: 1rem;
  background-color: whitesmoke;
}

.accordion-content {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
