@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@300,400,700&display=swap');

:root {
  --primary-font: 'Fira Mono', monospace;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --default-font-color: #050100;
  --default-bg-color: #ede4d2;
  --default-font-size: 1rem;
}

html, body, #root, .App {
  background-color: var(--default-bg-color); 
  margin: 1rem;
  padding: 1rem;
  min-height: 100vh;
  text-align: center;
  margin-left: 4rem; 
  margin-right: 4rem; 
  font-family: 'Fira Mono';
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
}

.hamburger-icon {
  display: none;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.blue-colored-circle {
  width: 50px;
  height: 50px;
  background-color: #96b8d0; /* Change to your desired color */
  border-radius: 50%; /* Makes it a circle */
}

.orange-colored-circle {
  width: 50px;
  height: 50px;
  background-color: #e35526;
 /* Change to your desired color */
  border-radius: 50%; /* Makes it a circle */
}

a { 
  color: var(--default-font-color);
  text-decoration: none;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.hamburger-icon .bar {
  z-index: 999; /* This ensures the hamburger icon is always on top */
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #333;
  cursor: pointer;
}

.nav-bar {
  background-color: #ede4d2;
  color: 050100;
  display: flex;
  /* padding: 0 1rem; */ 
  /* height: 3.5rem; */ 
  justify-content: space-between;  /* This line ensures the left and right menus are pushed to the edges */

}

.nav-menu {
  list-style: none;
  /* margin: 0;
  padding: 0 0.5rem; */ 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;  /* This ensures the .nav-menu takes up all available space */
}

.nav-menu.open {
  display: flex; /* Show when open */
}

.nav-left, .nav-right, .nav-center {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;  /* This aligns the items vertically in the middle */
}

.nav-menu a {
  text-decoration: none;
  color: 050100;
  display: flex;
  align-items: center;  /* This aligns the text vertically in the middle */
}

.header {
  background-color: #ede4d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: 050100;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;  /* Aligns items to the center vertically */
}

.header-title {
  text-align: left;
  font-size: 10rem;
  line-height: 100%;
  height: 100%;  /* Adjust based on your needs */
  margin: 5rem;
}

.get-started-button {
  background-color: #050100; /* Green background */
  color: white; /* White text */
  padding: 1rem 3rem; /* Some padding */
  margin: 0.4rem 0; /* A bit of margin */
  border: none; /* No border */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  font-size: 1.2em;
  border-radius: 0.2rem; /* Rounded corners */
}

/* On hover */
.get-started-button:hover {
  background-color: #96b8d0;
}

.subtext {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0rem;
}

.h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.kpi {
  flex: 1;
  text-align: center;
}

.kpi h1 {
  font-size: 1.5rem;
}

.kpi p {
  font-size: 0.9rem;
  text-align: left;
}

.footer {
  background-color: #ede4d2;
  color: #050100;
  padding: 1em;
}

.link {
  color: #61dafb;
}

.main-content {
  overflow: auto;
  background-color: #ede4d2;
}

.section {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 4vmin);
  font-weight: var(--font-weight-bold);
  color: #050100;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color: #050100;/* any specific styles you want for the title */
}

.section-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordion-item {
  border-bottom: 1px solid grey;
  margin: 0rem; 
}

.accordion-title {
  cursor: pointer;
  padding: 1rem;
  background-color: #ede4d2;
  font-weight: --var(font-weight-medium); 
}

.accordion-content {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #f2ede4;
}
.contact-form {
  max-width: 100%;
  margin: auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 0.8rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.8rem;
}

.contact-form button {
  padding: 8px 16px;
  background-color: #050100;
  color: #ede4d2;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

  .hamburger-icon {
    display: block; /* Show hamburger icon on small screens */
  }

  html, body, #root, .App {
    background-color: var(--default-bg-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
    margin-left: 0.5rem; 
    margin-right: 0.5rem; 
    font-family: 'Fira Mono';
    font-family: var(--primary-font);
    font-weight: var(--font-weight-regular);
  }
  .header-title {
    font-size: calc(10px + 4vmin); /* This line ensures the title is responsive */
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu {
    display: none; 
    width: 100%;
    font-size: 0.8rem; /* This reduces the font-size of the menu items */
  }
  .nav-menu.open {
    display: flex; /* Show when open */
  }
}

*, ::after, ::before {
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: inherit;
}


